
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');



* {
    box-sizing: border-box;
}

#wrapper{
 
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

body {
  background-color:hsl(210, 60%, 98%);
  font-size: 16px;
  max-width: 1440px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

main {
    gap: 10px;
    background-color: white;
    width: 60%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 5%;
}

header {
    display: flex;
    justify-content: space-between;
}

img { 
    margin: 1rem;
    width: 10%;
    float: left;
}

header p:first-child {
    font-size: 20px;
    font-weight: 800;
    word-spacing: 5px;
    color:  hsl(220, 10%, 17%);    
}

.alert {
    color: white;
    background-color:  hsl(219, 62%, 30%);
    border-radius: 0.4rem;
    padding:11px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.0rem;
    
}

main div {
    border-radius: 5px;
    
}

span {
    font-weight: 600;
    color:  hsl(240, 1%, 50%);
    cursor: pointer;
}

#mrk:hover {color:hsl(219, 78%, 34%);}

.name { 
    color: hsl(220, 23%, 8%);
}

small {
    color: hsl(219, 12%, 42%);
}

main div div {
    line-height: 1.5rem;
}
.chessclub {
    color: hsl(219, 78%, 34%);
}

#mark,
#ang,
#jcb {
    background-color:  hsl(210, 60%, 98%);
}

fieldset {
    border-radius: 0.3rem;
    color:hsl(240, 1%, 50%) ;
}
fieldset:hover {
    background-color:hsl(205, 33%, 90%);
    cursor: pointer;
    
}


.kim { 
    display: flex;
    justify-content: space-between;
}

.kim div img{
    width: 20%;    
}

.chessing:hover {
    cursor: pointer;
}

.toggle { cursor: pointer;}

.kim p {
    width:100% ;
} 

.dot {
    margin-left: 3px;
    background-color: rgb(240, 92, 56);
    border-radius: 5px;
    width: 7.85px;
    height: 7.85px;
    display:inline-block;

}

@media screen and (max-width:800px) {
    body {
        background-color: white;
        font-size: 14px;
        max-width: auto;
        min-width: 375px;
    }

        main{
            gap: 5px;
            width: 100%;
            padding: 1rem 0;
        }
        .kim p{
            width: auto;
        }
        .kim div div, #nthn div {
            display: flex;
            flex-direction: column;
        } 
         .chessing, .kim div img{width: 12%;}
         header{align-items: center;}
}

.attribution { 
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
 }
.attribution a { color: hsl(228, 45%, 44%); }
